<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" http-equiv="Content-Script-Type" content="text/javascript">
  <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
  <title>Registory Change Site</title>
</head>

<body>
  <div id="container">
    <div class="post-title">
    <section id="content" role="main">
    <h1><span id="header" th:text="${header}"></span></h1>
    <br>
    <h4><span id="content" th:text="${content}"></span></h4>
      <nav id="nav-below">
        <div class="older">
          <a href="/regUpdate/download">Download</a>
        </div>
      </nav>
    </section>
    </div>
  </div>
</body>
</html>
